
server {
	server_name webserv2;
	listen 127.0.0.1:4242;

	root www/html;

	allow_methods GET;

	autoindex on;
	index index.html index2.html index.php;
	client_body_limit 4096;

	error_page 404 www/html/error/error.html;
	error_page 500 www/html/error/error2.html;

	location / {
		allow_methods GET;
		root www/html;
	}

	location /board {
		allow_methods GET;
		root www/html;
	}

	location /kapouet {
		allow_methods GET;
		root www/html;
	}

	location /dir {
		allow_methods GET DELETE POST;
		root www/html/static;
		autoindex on;
		error_page 404 www/html/error/404_location.html;

	}

	location /js-cookies {
		allow_methods GET DELETE POST;
		root www/html/js-cookies;
		autoindex on;
		error_page 404 www/html/error/404_location.html;

	}

	location /send-form {
		allow_methods POST;
		root www/html/post;
		cgi_info php /usr/bin/php;
		index index.php;
		error_page 404 www/html/error/404_location.html;

	}

	location /board/content {
		allow_methods GET POST DELETE;
		root www/html/contents;
		index board.html;
	}

	location /cgi {
		allow_methods GET POST;
		cgi_info php /Users/adouib/Desktop/WebServ/config/cgi_binary/php-cgi;
		cgi_info ex /Users/adouib/Desktop/WebServ/config/cgi_binary/php-cgi;
		cgi_info py /usr/bin/python3;
		root www/html/cgi-dir;
		index index.php;
	}

	location /sessions {
		allow_methods GET POST;
		cgi_info php /Users/adouib/Desktop/WebServ/config/cgi_binary/php-cgi;
		root www/html/sessions;
		index index.php;
	}
}


server {
	server_name webserv2;
	listen 10.11.11.12:4242;

	root www/html;

	allow_methods GET;

	autoindex on;
	index index.html index2.html index.php;
	client_body_limit 4096;

	error_page 404 www/html/error/error.html;
	error_page 500 www/html/error/error2.html;

		location / {
		allow_methods GET;
		root www/html;
	}

	location /board {
		allow_methods GET;
		root www/html;
	}

	location /kapouet {
		allow_methods GET;
		root www/html;
	}

	location /dir {
		allow_methods GET DELETE POST;
		root www/html/static;
		autoindex on;
		error_page 404 www/html/error/404_location.html;

	}

	location /js-cookies {
		allow_methods GET DELETE POST;
		root www/html/js-cookies;
		autoindex on;
		error_page 404 www/html/error/404_location.html;

	}

	location /send-form {
		allow_methods POST;
		root www/html/post;
		cgi_info php /usr/bin/php;
		index index.php;
		error_page 404 www/html/error/404_location.html;

	}

	location /board/content {
		allow_methods GET POST DELETE;
		root www/html/contents;
		index board.html;
	}

	location /cgi {
		allow_methods GET POST;
		cgi_info php /Users/zmahmoud/Desktop/WebServ/config/cgi_binary/php-cgi;
		cgi_info ex /Users/zmahmoud/Desktop/WebServ/config/cgi_binary/php-cgi;
		cgi_info py /usr/bin/python3;
		root www/html/cgi-dir;
		index index.php;
	}

	location /sessions {
		allow_methods GET POST;
		cgi_info php /Users/zmahmoud/Desktop/WebServ/config/cgi_binary/php-cgi;
		root www/html/sessions;
		index index.php;
	}
}
