server {
	server_name webserv;

	root ./www/html;

	allow_methods GET;

	autoindex on;
	index hello.html index2.html;
	client_body_limit 4096;

	error_page 404 ./www/html/error/error.html;
	error_page 500 ./www/html/error/error2.html;

	location / {
		allow_methods GET;
		root ./www/html;
	}

	location /board {
		allow_methods GET;
		root ./www/html;
	}

	location /board/content {
		allow_methods GET POST DELETE;
		index board.html;
		cgi_info .php cgi_path;
	}

	location /cgi {
		allow_methods GET POST;
		cgi_info php php-fpm;
	}
}
